@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.rs-navbar-default{
  /*background: linear-gradient(90deg, rgba(74, 89, 164, 1) 25%, rgba(101, 36, 129, 1) 65%) !important;*/
  background-color: #f3e9d9 !important;
  color: black !important;
}



.rs-navbar-default .rs-navbar-item:hover, .rs-navbar-default .rs-dropdown .rs-dropdown-toggle:hover, .rs-navbar-default .rs-dropdown.rs-dropdown-open .rs-dropdown-toggle, .rs-nav-vertical{
  background-color: unset !important;
  color: unset !important;
}


.rs-ripple{
  display: none !important;
}

.rs-nav-item{
  width: fit-content !important;
  color: black !important;
}

.rs-nav-item:hover{
  font-size: 24px !important;
  background: none !important;
  transition: font-size 1s ease !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.menu{
  z-index: 99 !important;
}


.mobileMenu{
  z-index: 1 !important;
  animation: slideDown 0.5s ease-out;
}

.cookieBox{
  display: flex;
  position: fixed;
  z-index: 9999;
  margin-left: 1%;
  margin-right: 1%;
  bottom: 10px;
  width: 98%;
  background-color: #ad9a87;
  border-radius: 0.25em;
  border: none;
  color: white;
  vertical-align: center;
  padding: 0.6em;
  text-align: center;
  font-size: 14px;
  height: fit-content;
}

.cookieBox a{
  color: white !important;
  text-decoration: underline;
}
