@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.rs-navbar-default{
  /*background: linear-gradient(90deg, rgba(74, 89, 164, 1) 25%, rgba(101, 36, 129, 1) 65%) !important;*/
  background-color: #f6f2ec !important;
  color: black !important;
}



.rs-navbar-default .rs-navbar-item:hover, .rs-navbar-default .rs-dropdown .rs-dropdown-toggle:hover, .rs-navbar-default .rs-dropdown.rs-dropdown-open .rs-dropdown-toggle, .rs-nav-vertical{
  background-color: unset !important;
  color: unset !important;
}


.rs-ripple{
  display: none !important;
}

.rs-nav-item{
  width: fit-content !important;
  color: black !important;
}

.rs-nav-item:hover{
  font-size: 24px !important;
  background: none !important;
  transition: font-size 1s ease !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.menu{
  z-index: 99 !important;
}


.mobileMenu{
  z-index: 1 !important;
  animation: slideDown 0.5s ease-out;
}

.cookieBox{
  display: flex;
  position: fixed;
  z-index: 9999;
  margin-left: 1%;
  margin-right: 1%;
  bottom: 10px;
  width: 98%;
  background-color: #ad9a87;
  border-radius: 0.25em;
  border: none;
  color: white;
  vertical-align: center;
  padding: 0.6em;
  text-align: center;
  font-size: 14px;
  height: fit-content;
}

.cookieBox a{
  color: white !important;
  text-decoration: underline;
}

.carousel{
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  height: 100% !important;
  z-index: 1 !important;
}


.carousel-container{
  height: calc(100vh - 112px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel .rs-carousel-content img {
  /*width: 100% !important;*/
  height: 100% !important;
  object-fit: cover !important;
}

.imageLukfor{
  width: 700px;
}

.image-overlay{
  position: absolute !important;
  width: 100%;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  top: 40% !important;
  color: black !important;
  z-index: 2 !important;
  max-width: 100%;
}

.image-overlay img {
  display: block;
  margin: 0 auto;
}


.imageCarousel{
  height: 100% !important;
  object-fit: contain !important;
}



.footer{
  color: black !important;
  background-color: #f6f2ec !important;
}

.footer a{
  color: black !important
}

.rs-navbar-default .rs-navbar-item:hover, .rs-navbar-default .rs-dropdown .rs-dropdown-toggle:hover, .rs-navbar-default .rs-dropdown.rs-dropdown-open .rs-dropdown-toggle, .rs-nav-vertical{
  background-color: unset !important;
  color: unset !important;
}

.rs-nav-item, .rs-nav-default .rs-nav-item:focus{
  color: black !important;
}

/*.rs-navbar-default .rs-navbar-item:hover{*/
/*    color: #ffffff !important;*/
/*}*/

.rs-ripple{
  display: none !important;
}

@media (max-width: 900px) {
  .footerDivOne{
    display: none;
  }

  .footerDivThree{
    display: flex;
  }
}

@media (max-width: 550px) {
  .footerDivThree{
    display: none;
  }
  .footerDivTwo{
    display: flex;
  }
}


.divCard {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.divCard > :first-child {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.divCard:hover {
  background: #c4baab !important;
  color: white !important;
}

.divCard:hover > :first-child {
  background: white !important;
  color: #c4baab !important;
}

.cardBox, .advantagesCard {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.cardContainer.animate, .advantagesDiv.animate{
  opacity: 1; /* Pokaż kontener */
  transition: opacity 1s ease-in-out;
}

.cardContainer.animate .cardBox, .advantagesDiv.animate .advantagesCard {
  opacity: 1; /* Pokaż karty */
  transform: translateY(0); /* Przesunięcie kart do pierwotnego miejsca */
}

.cardContainer.animate .cardBox:nth-child(1), .advantagesDiv.animate .advantagesCard:nth-child(1) {
  transition-delay: 0.1s;
}

.cardContainer.animate .cardBox:nth-child(2), .advantagesDiv.animate .advantagesCard:nth-child(2) {
  transition-delay: 0.2s;
}

.cardContainer.animate .cardBox:nth-child(3), .advantagesDiv.animate .advantagesCard:nth-child(3) {
  transition-delay: 0.3s;
}

.cardContainer.animate .cardBox:nth-child(4) {
  transition-delay: 0.4s;
}

.cardContainer.animate .cardBox:nth-child(5) {
  transition-delay: 0.5s;
}

.cardContainer.animate .cardBox:nth-child(6) {
  transition-delay: 0.6s;
}

.offerBoxImgImg{
  height: 300px;
  object-fit: cover !important;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  border-radius: 0.25em;
}